<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sgm.user.dao.UserDAO">
 	<select id="selectUserList" resultType="Map">
 		SELECT
 			`id`
			, `loginId`
			, `name`
			, `password`
			, `phoneNumber`
			, `storeName`
			, `profileImageUrl`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`user`
 	</select>
 	
 	<select id="selectUserByLoginPassword" parameterType="Map" resultType="com.sgm.user.model.User">
 		SELECT
 			`id`
			, `loginId`
			, `name`
			, `password`
			, `phoneNumber`
			, `storeName`
			, `profileImageUrl`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`user`
 		WHERE
 			`loginId`= #{loginId} AND `password` = #{password};
 	</select>
 </mapper>